/*!

    Example.com

    ...

*/


/* Colors */
$colorBlue      : "#000066";
$colorBlueLight : "#0000ff";
$colorBlueDark  : "#000033";
$colorRed       : "red";
$colorGreen     : "green";


/* Typography */
$sizeS  : "0.8em";
$sizeM  : "1em";
$sizeL  : "1.2em";
$sizeXL : "2em";


/* Breakpoints */
$widthS  : "400px";
$widthM  : "750px";
$widthL  : "1000px";
$widthXL : "1200px";


/* Components */
@import "_mixins";

@import "_normalize";
@import "_base";
@import "_base_fonts";
@import "_base_layout";

@import "_menu";
//@import "_menu_sub";

//@import "_page_content";
//@import "_page_landing";


@media print {
  @import "print";
}
